///
// Skin: Default
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #ff33cc;
$text-color-1:     #33ffff;

$main-color-2:     #fca24d;
$text-color-2:     #fff;

$main-color-3:     #ffffff;
$text-color-3:     #333;

$main-color-theme-light: rgba(#000, .9);
$main-color-theme-dark:  rgba(#fff, .9);

// page background
$background-color: #fff;

// text colors
$text-color-theme-light-d: #ff33cc; 
$text-color-theme-light:   #000000;
$text-color-theme-light-l: #ff0303;

$text-color-theme-dark-d:  #33ffff; // header H1
$text-color-theme-dark:    rgba(#fff, .95);
$text-color-theme-dark-l:  rgba(#fff, .85);

$text-color-d:     $text-color-theme-light-d;
$text-color:       $text-color-theme-light;
$text-color-l:     $text-color-theme-light-l;

$text-background-color: rgba(#f40303, .05);

// header and footer colors
$header-text-color: $text-color-3;
$header-background: $main-color-3;

$footer-text-color: $text-color-3;
$footer-background: $main-color-3;

// border and shadow colors
$border-color:     mix(#000, $background-color, 20%);
$border-color-l:   mix(#c0c0c0, $background-color, 10%);
$decorate-color:   rgba(#9f9f9f, .1);
$mask-color:       rgba(#6e6e6e, .9);
$select-color:     rgba($main-color-1, .5);

// function colors
$green:           #52c41a;
$blue:            #1890ff;
$yellow:          #fa8c16;
$red:             #f5222d;
$text-color-function: #fff;

// logo colors
$mail-color:       #000;
$facebook-color:   #000;
$twitter-color:    #000;
$weibo-color:      #000;
$google-plus-color:#000;
$telegram-color:   #000;
$medium-color:     #000;
$zhihu-color:      #000;
$douban-color:     #000;
$linkedin-color:   #000;
$github-color:     #000;
$npm-color:        #000;

// highlight colors
@import "skins/highlight/tomorrow";
